// Include required headers
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/spi/spi.h>

// Configure SPI3 pins for SD Card
&pinctrl
{
    spim3_default: spim3_default
    {
        group1
        {
            pinmux = <SPIM3_MISO_GPIO5>,   // MISO - GPIO5
                <SPIM3_MOSI_GPIO19>,       // MOSI - GPIO19
                <SPIM3_SCLK_GPIO18>;       // SCK  - GPIO18
        };
    };
};

&spi3 {
    status = "okay";
    pinctrl-0 = <&spim3_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
    
    sd_card: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot"; 
        reg = <0>;
        spi-max-frequency = <400000>;
        mmc {
            compatible = "zephyr,sdmmc-disk";
            disk-name = "SD";
        };
    };
};

&gpio0 {
    status = "okay";
    
    // Akira-Micro Status LED (Blue) - GPIO32
    status_led: status_led {
        gpio-hog;
        gpios = <32 GPIO_ACTIVE_HIGH>;
        output-low;
    };
    
    // CC1101 CS - GPIO23
    cc1101_cs: cc1101_cs {
        gpio-hog;
        gpios = <23 GPIO_ACTIVE_LOW>;
        output-high;
    };
    
    // nRF24L01 Chip Enable pins
    nrf24_ce1: nrf24_ce1 {
        gpio-hog;
        gpios = <17 GPIO_ACTIVE_HIGH>;  // CE_1 (U9)
        output-low;
    };
    
    nrf24_ce2: nrf24_ce2 {
        gpio-hog;
        gpios = <16 GPIO_ACTIVE_HIGH>;  // CE_2 (U1)
        output-low;
    };
};

// WiFi configuration
&wifi
{
    status = "okay";
    // WiFi credentials will be managed by settings module
};

// UART configuration for shell and logging
&uart0 {
    status = "okay";
    current-speed = <115200>;
};

// I2C configuration for OLED (SSD1306)
// GPIO21 = SDA, GPIO22 = SCL
&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
    };
};

// Flash memory partition for NVS
&flash0 {
    partitions {
        akira_settings_nvs_partition: partition@256000 {
            label = "akira_settings_nvs";
            reg = <0x00256000 0x10000>; // 64 KB
        };
    };
};

// Chosen nodes for Zephyr configuration
/ {
    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
    };
    
    aliases {
        led0 = &status_led;
    };
    
    // Button definitions for Akira-Micro
    gpio_keys {
        compatible = "gpio-keys";
        
        key1: key_1 {
            gpios = <&gpio0 35 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "KEY 1";
            zephyr,code = <1>;
        };
        
        key2: key_2 {
            gpios = <&gpio0 34 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "KEY 2";
            zephyr,code = <2>;
        };
        
        key3: key_3 {
            gpios = <&gpio0 39 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "KEY 3";
            zephyr,code = <3>;
        };
        
        key4: key_4 {
            gpios = <&gpio0 36 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "KEY 4";
            zephyr,code = <4>;
        };
        
        key5: key_5 {
            gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "KEY 5";
            zephyr,code = <5>;
        };
        
        key6: key_6 {
            gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "KEY 6";
            zephyr,code = <6>;
        };
    };
};

// Change storage partition label to user-data-partition for LittleFS
user_data_partition: &storage_partition {
    label = "user_data_partition";
};
